@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#myBtn {
  position: fixed;
  top: 88vh;
  z-index: 20;
  font-size: 30px;
  background: #3a6cf4;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  border-radius: 25px;
  width: 3rem;
  right: 30px;
  height: 3rem;
}
#myBtn:hover {
  background-color:blue;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  margin: auto;
  font-size: 38px !important ;
  position: relative;
  line-height: 1;
  letter-spacing: normal;
  color:  #4e9eff;
  top: -12px;
  right: 12px;
  font-size: 40px;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: #601cfc;
}

section {
  padding: 100px;
}
@keyframes animi {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
header a i{

}
.main {
  position: relative;
  width: 100%;
  z-index: 50;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("blob-scene-haikei.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main .all{
  flex-basis: 40%;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  color: white;
  font-size: 2.5em;
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  
    overflow: hidden;
   


}
.main h2 span.job {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 2.5em;
  font-weight: 600;
  
    overflow: hidden;
    border-right: .15em solid  #4e9eff;
    white-space: nowrap;
   
    width: 0;
    animation: typing 3s steps(20, end) forwards , blink .8s infinite ease;
  
}
h2 .i{ 
  margin-top: 10px;
  color: white;
  font-size: 2em;
  font-weight: 600;
  
    

  
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color:  #4e9eff; }
}
@keyframes typing{
  from { width: 0 }
  to { width: 100% }
}
.main .im {
  animation-name: animi;
  animation-timing-function: ease;
  animation-duration: 4s;

  animation-iteration-count: infinite;

  /* transform: translateY(50px); */
  width: 275px;
}
.main img {
  width: 100%;
  border-radius: 50%;
  /* animation-name: animi; */
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}

.social-icons {
  display: flex;
  justify-content: space-between;}
  footer .social-icons{
    margin-right: 60px;
  }
.social-icons a {
  color: #fff;
  font-size: 2em;
  /* padding-right: 30px; */
}
#services {
  background-attachment: fixed;
  background-image: url("stacked-peaks-haikei.png");
  overflow: hidden;
  background-size: contain;
}
.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
#services .content {
  display: flex;
  color: #86a6fd;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  transition: 1s ease-in-out;
  flex-direction: row;
}
.skills{
    background-attachment: fixed;
    
    background-size: cover;
    background-image: url("stacked-peaks-haikei.png");
}
.content h3 {
  margin-bottom: 30px;
  color: #86a6fd;
  margin: auto;

  font-size: 25px;
}
.content li {
  list-style: none;
  margin-bottom: 20px;
  color: #3a6cf4;
  font-size: 20px;
}
.content li a {
  color: blue;
  font-weight: 700;
  text-decoration: none;
}
.card ul li p .html {
  border-radius: 3px;
  border: 2px solid orangered;
  width: 0;
  background-color: orangered;
  height: 30px;
  display: block;
  border-radius: 20px;
  height: 100%;
  color: white;
  text-align: end;
}
.card ul li p .css {
  border-radius: 3px;
  border: 2px solid blue;
  width: 0;
  background-color: blue;
  height: 30px;
  display: block;
  height: 100%;
  color: white;
  text-align: end;
  border-radius: 20px;
}
.card ul li p .js {
  border-radius: 3px;
  border: 2px solid rgb(253, 253, 52);
  width: 0;
  height: 100%;
  background-color: rgb(253, 253, 52);
  /* height: 30px; */
  display: block;
  color: white;
  border-radius: 20px;

  text-align: end;
}
.card ul li p .boot {
  border-radius: 3px;
  border: 2px solid purple;
  width: 0;
  height: 100%;
  background-color: purple;
  /* height: 30px; */
  display: block;
  color: white;
  border-radius: 20px;

  text-align: end;
}
.card ul li p .react {
  border-radius: 20px;
  border: 2px solid mediumaquamarine;
  width: 0;
  height: 100%;
  background-color: mediumaquamarine;
  /* height: 30px; */
  display: block;
  color: white;
  border-radius: 20px;

  text-align: end;
}


.card ul li p {
  border: 2px solid;
  border-radius: 20px;
}
.card ul li {
  font-size: 25px;
}
.card ul li:nth-child(1) i:nth-child(1) {
  color: orangered;
  margin-right: 10px;
}
.card ul li:nth-child(2) i:nth-child(1) {
  color: blue;
  margin-right: 10px;
}
.card ul li:nth-child(3) i:nth-child(1) {
  color: rgb(253, 253, 52);
  margin-right: 10px;
}
.card ul li:nth-child(4) i:nth-child(1) {
  color: purple;
  margin-right: 10px;
}
.card ul li:nth-child(5) i:nth-child(1) {
  color: mediumseagreen;
  margin-right: 10px;
}

.projects {
  background-image: url("stacked-peaks-haikei.png");
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
}

.projects .content {
  margin-top: 30px;
  display: flex;
  /* text-align: center; */
  flex-wrap: wrap;

  justify-content: center;
}
.projects .data {
  width: 100%;
  margin-bottom: 20px;
}
.projects .content ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .content ul li {
  margin-left: 10px;
  padding: 10px 15px;
  border: 2px solid #86a6fd;
  font-weight: 500;
  color: blue;
  cursor: pointer;
  border-radius: 5px;
}
.projects .content ul li.active,
.projects .content ul li:hover {
  background-color: #86a6fd;
}
.project-card {
  background-color: rgba(0, 0, 0, 0.473);
  flex-basis: 40%;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}

.project-info {
  padding: 1em;
  color: #0a49f6;
}

.project-category {
  font-size: 0.8em;
  color: #0a49f6;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #3a6cf4;
}

.more-details:hover {
  color: #601cfc;
}

.contact .icon {
  font-size: 4.5em;
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1.5em;
}

.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span:nth-child(1) {
  color: #3a6cf4;
  margin-right: 40px;
}
.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 2em;
  padding: 0 12px 0 0;
}
.contact {
  background-attachment: fixed;
  background-size: cover;
  background-image: url("stacked-peaks-haikei.png");
}
.contact .form {
  text-align: center;
}
.contact form {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact .form input {
  background-color: white;
  width: 50%;
  margin: 10px auto;
  height: 30px;
  border-radius: 5px;
  padding: 30px;
}
.contact .form textarea {
  width: 50%;
  margin: 10px auto;
  /* height: 30px; */
  border-radius: 5px;
  padding: 30px;
}
@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }

  .navigation a {
    padding-left: 10px;
  }

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
@media (max-width:760px){
  .footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  p.footer-title{
    margin-top: 20px;
  }
  .navigation a{
    font-size: 12px;
    padding-left: 5px;
  }
  a.logo{
    font-size: 1.4em;
  }
  .main span{
    font-size: 2em !important;
  }
  .main h3{
    font-size: 1.8em;
  }
  .main{
    flex-direction: column;
    text-align: center;
  }
  .im img{
    width: 200px;
    margin-top: 50px;
  }
  .main .me{
    justify-content: center;
  }
  .social-icons{
    justify-content: center;
  }
  .social-icons i{
    margin-left: 20px;
  }
  .main div .me {
    width: 100%;
    /* text-align: center; */
}
.cards ul li{
  font-size: 15px;
}#myBtn{
  width: 1em;
  height: 1em;
}
.material-symbols-outlined{
  font-size: 30px !important;
  position: relative;
  top: -18px;
  right: 15px;}
}
@media (max-width: 1250px) and (min-width: 761px){
  .main .me{
    width: 50%;
  }
  
  .main span{
    font-size: 2.1em !important;
  }
  .main .im{
    width: 250px;
    margin-left: 20px;
  }
  
.main h3 {
  font-size: 1.7em;
}
}
.main .me{
  width: 50%;
}
form button{
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
  color: #000016;
  border-radius: 15px;
  font-size: 20px;
  margin: 40px auto;
  background-color: blue;

}